
* , 
*::before,
*::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    
}
body {
    width: 100%;
    font-family: helvetica, sans-serif;
    background-image: url(img/bg.jpg);
}
/* Header */
header {
    background-color: white;
    width: 100%;
  }
  nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 1em 3em;
    font-family: helvetica;
    width: 100%;
  }
  @media screen and (max-width: 600px) {
    nav {
      background-color: lightgreen;
    }
  }

  ul {
    /*max-width: 800px;*/
    margin-left: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  li {
    list-style: none;
    margin-left: 2em;
    font-size: 1rem;
  }
  a {
    text-decoration: none;
    color: black;
  }
  .logo {
    margin-right: auto;
    width: 80px;
  }

  .headline {
    font-size: 3rem;
  }
  /* Body */
  section {
      margin: auto;
  }
#intro {
  margin-top: 2em;
}

#card-grid {
  margin: 1em auto;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
  .card {
width: 100%;
max-width: 200px;
padding: 2em;
margin: 1em;
background-color: lightblue;
border-radius: 20px;
  }
